/**
 *	#HELPERS
 *  > some quick helper class
 *
 *	@author	KFFEIN	<dev@kffein.com>
 */


/** center this block with max-width to be in safe-zone */
._container
  container()

/* show this only if desktop */
._desktop
  +not-desktop()
    display none !important // @stylint ignore

/* show this only if not desktop (so tablet and mobile) */
._not-desktop
  +desktop()
    display none !important // @stylint ignore

/* show this only if mobile */
._mobile
  +above(rupture.mobile-cutoff)
    display none !important // @stylint ignore

._nl2br
  white-space pre-wrap

/* is this really useful ? */
// for $name, $color in $colors
//   ._bg-{$name} 
//     background-color $color

//   ._color-{$name}
//     color $color


/** remove button style */
._no-btn
._no-input
  background none
  border none
  padding 0
._no-btn
  cursor pointer

._h1
  f-style(title, h1)
._h2
  f-style(title, h2)
._h3
  f-style(title, h3)
._h4
  f-style(title, h4)
._h5
  f-style(title, h5)
._h6
  f-style(title, h6)
