// Resets & normalize
meyer-reset()
box-sizing-reset()

// Add fonts
// webfont('FontTitle', 'gt-walsheim-pro/bold', $weight: $fw-bold)
// webfont('FontText', 'gt-walsheim-pro/bold', $weight: $fw-bold)
@import url("https://fonts.googleapis.com/css?family=Bowlby+One+SC|Roboto+Slab:700")

@import '/global'
@import '/utils/helpers'
@import '/utils/wysiwyg'
// @todo: add a /utils/form

// .touchevents,
// .swiper-container
// html

// html{
//   background-color $c-blue;
a,
button,
img,
video,
input,
textarea,
  &
  &:active
  &:focus
    outline none
    user-select none

.section
  overflow-x hidden
  y-padding(60px)
  +tablet()
    y-padding(40px)
  +mobile()
    y-padding(30px)
  .header + .content
    responsive-prop(margin-top, 60px 40px)



.btn.play
  position relative
  flexbox(center)
  cursor pointer
  >.text
    f-style(title, $lh:0, $size:2.4rem, $uppercase:true)
    background-color transparent
    color $c-white
    kff-transition(color)
    &:before
      absolute top 50% left 50%
      content ''
      border-radius 50%
      size 120px
      border 1px solid
      transform scale(1) translate(-50%, -50%)
      kff-transition()
      transform-origin top left
  .no-touchevents &:hover
    background-color rgba($c-black, 0)
    >.text
      color $c-accent
      &:before
        color $c-accent
        border-color $c-accent
        border-width 2px
        transform scale(1.2) translate(-50%, -50%)


.cta
  position relative
  display inline-block
  f-style(title, h4)
  border 1px solid $c-dark
  color $c-dark
  padding 0.5em 1em
  margin 1em auto 0
  cursor pointer
  box-sizing content-box
  kff-transition(all)
  &:after
    content ''
    absolute -1px
    kff-transition(border)
    border 1px solid $c-dark
  .no-touchevents &:hover
    opacity 1
    color $c-accent
    &:after
      border-width 4px
      border-color $c-accent
  &.-white
    color $c-white
    &:after
      border-color $c-white
    // .no-touchevents &:hover
    //   color $c-accent
    //   &:after
    //     border-color $c-accent
