/**
*
* TABLE OF CONTENT
* --------
* =LAYOUT
* =DEBUG
*/
/* ===LAYOUT=== */
[data-cover="cover"][data-v-3b2fd8ae],
[data-cover="contain"][data-v-3b2fd8ae] {
  position: relative;
}
[data-cover="cover"] .image[data-v-3b2fd8ae],
[data-cover="contain"] .image[data-v-3b2fd8ae] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
[data-cover="cover"] .image[data-v-3b2fd8ae] {
  -o-object-fit: cover;
     object-fit: cover;
}
[data-cover="contain"] .image[data-v-3b2fd8ae] {
  -o-object-fit: contain;
     object-fit: contain;
}
[data-full][data-v-3b2fd8ae] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
[data-overlay][data-v-3b2fd8ae]:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0,0,0,0.3);
}
/* ===DEBUG=== */

/**
 * TABLE OF CONTENT
 * --------
 *  - LAYOUT
 *  - DEBUG
 *  - NO_SCOPE
 */
.UIVideo[data-v-075b5bcc] {
  position: relative;
  width: 100%;
  background: #000;
}
.actions[data-v-075b5bcc],
.poster[data-v-075b5bcc],
.video[data-v-075b5bcc],[data-v-075b5bcc] iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video[data-v-075b5bcc],[data-v-075b5bcc] iframe {
  z-index: 10;
}
[data-cover='cover'][data-v-075b5bcc] {
  -o-object-fit: cover;
     object-fit: cover;
  font-family: 'object-fit:cover;';
}
[data-cover='contain'][data-v-075b5bcc] {
  -o-object-fit: contain;
     object-fit: contain;
  font-family: 'object-fit:contain;';
}
.poster[data-v-075b5bcc] {
  z-index: 20;
}
.btn.play[data-v-075b5bcc] {
  z-index: 30;
  display: flex;
  -ms-justify-content: center;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.4);
  cursor: pointer;
  transition: background-color 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}
.sm[data-v-075b5bcc] {
  position: absolute;
}
.sm.-end[data-v-075b5bcc] {
  bottom: 0;
}

/**
* TABLE OF CONTENT
* --------
*  - LAYOUT
*  - DEBUG
*  - NO_SCOPE
*/
.background[data-v-16909ae9] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.SectionHero[data-v-16909ae9] {
  display: flex;
  -ms-justify-content: center;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  text-align: center;
}
.content[data-v-16909ae9] {
  position: relative;
  z-index: 5;
}
.title[data-v-16909ae9] {
  display: inline-block;
  margin: 0 auto;
  line-height: 1.4;
  font-family: 'Bowlby One SC', cursive;
  font-size: 10rem;
  color: #fff;
  text-align: center;
  width: 85vw;
  max-width: 1920px;
}
@media only screen and (max-width: 700px) {
.title[data-v-16909ae9] {
    font-size: 6rem;
}
}
.subtitle[data-v-16909ae9] {
  max-width: 1440px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 1em;
  line-height: 1.4;
  font-family: 'Bowlby One SC', cursive;
  font-size: 2.6rem;
  color: #fff;
  text-align: center;
}
@media only screen and (max-width: 1024px) {
.subtitle[data-v-16909ae9] {
    padding-left: 20px;
    padding-right: 20px;
}
}
@media only screen and (max-width: 700px) {
.subtitle[data-v-16909ae9] {
    padding-left: 15px;
    padding-right: 15px;
}
}
@media only screen and (max-width: 700px) {
.subtitle[data-v-16909ae9] {
    font-size: 1.8rem;
}
}
.btn[data-v-16909ae9] {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 1025px) {
.btn[data-v-16909ae9] {
    margin-top: 120px;
}
}
@media only screen and (min-width: 700px) and (max-width: 1025px) {
.btn[data-v-16909ae9] {
    margin-top: 80px;
}
}
@media only screen and (max-width: 700px) {
.btn[data-v-16909ae9] {
    margin-top: 60px;
}
}
@media only screen and (min-width: 1025px) {
.btn[data-v-16909ae9] {
    margin-bottom: 120px;
}
}
@media only screen and (min-width: 700px) and (max-width: 1025px) {
.btn[data-v-16909ae9] {
    margin-bottom: 40px;
}
}
@media only screen and (max-width: 700px) {
.btn[data-v-16909ae9] {
    margin-bottom: 0px;
}
}


/**
* TABLE OF CONTENT
* --------
*  - LAYOUT
*  - DEBUG
*  - NO_SCOPE
*/
.SectionPartners[data-v-7f569aa9] {
  background-color: #fff;
  padding-top: 3em;
  padding-bottom: 3em;
}
.header[data-v-7f569aa9] {
  display: flex;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  -ms-justify-content: center;
  justify-content: center;
}
.header >.title[data-v-7f569aa9] {
  line-height: 1.4;
  font-family: 'Bowlby One SC', cursive;
  font-size: 2.2rem;
  text-align: center;
}
@media only screen and (max-width: 700px) {
.header >.title[data-v-7f569aa9] {
    font-size: 1.6rem;
}
}
.list.partners[data-v-7f569aa9] {
  margin-top: 40px;
  display: flex;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  -ms-justify-content: space-evenly;
  justify-content: space-evenly;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 700px) {
.list.partners[data-v-7f569aa9] {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-align-items: stretch;
    align-items: stretch;
    -ms-justify-content: space-around;
    justify-content: space-around;
    max-width: 200px;
}
.list.partners .item[data-v-7f569aa9] {
    margin-left: 0 !important;
}
}
.list.partners >.item[data-v-7f569aa9] {
  -ms-flex-basis: 25%;
  flex-basis: 25%;
  max-width: 200px;
}
.partner[data-v-7f569aa9] {
  display: flex;
  flex-direction: column;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: stretch;
  align-items: stretch;
}
.partner .logo[data-v-7f569aa9] {
  overflow: hidden;
  position: relative;
  flex: 1 0 100%;
}
.partner .logo[data-v-7f569aa9]:before {
  content: "";
  display: block;
  height: 0;
  padding-top: 60%;
}
.partner .caption[data-v-7f569aa9] {
  flex: 0 1 0;
  overflow: hidden;
}

/**
* TABLE OF CONTENT
* --------
*  - LAYOUT
*  - DEBUG
*  - NO_SCOPE
*/
.SectionAbout[data-v-1ae81d24] {
  position: relative;
  background: #000 url("/uploads/section-hero.jpg") center center no-repeat;
  background-size: cover;
}
.SectionAbout[data-v-1ae81d24]:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.3);
  z-index: 2;
}
.SectionAbout .container[data-v-1ae81d24] {
  position: relative;
  z-index: 5;
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}
@media only screen and (max-width: 1024px) {
.SectionAbout .container[data-v-1ae81d24] {
    padding-left: 20px;
    padding-right: 20px;
}
}
@media only screen and (max-width: 700px) {
.SectionAbout .container[data-v-1ae81d24] {
    padding-left: 15px;
    padding-right: 15px;
}
}
@media only screen and (min-width: 1025px) {
.SectionAbout .container[data-v-1ae81d24] {
    padding-top: 20vh;
}
}
@media only screen and (min-width: 700px) and (max-width: 1025px) {
.SectionAbout .container[data-v-1ae81d24] {
    padding-top: 20vh;
}
}
@media only screen and (max-width: 700px) {
.SectionAbout .container[data-v-1ae81d24] {
    padding-top: 0px;
}
}
.title[data-v-1ae81d24] {
  line-height: 1.4;
  font-family: 'Bowlby One SC', cursive;
  font-size: 5rem;
  content: 3;
  color: #fff;
}
@media only screen and (min-width: 700px) and (max-width: 1025px) {
.title[data-v-1ae81d24] {
    font-size: 4rem;
}
}
@media only screen and (max-width: 700px) {
.title[data-v-1ae81d24] {
    font-size: 3.2rem;
}
}
.content[data-v-1ae81d24] {
  color: #fff;
  margin-top: 0.2em;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  opacity: 0.6;
  line-height: 1.6;
  font-size: 1.8rem;
  color: #fff;
}
@media only screen and (max-width: 700px) {
.content[data-v-1ae81d24] {
    font-size: 1.6rem;
}
}
@media only screen and (min-width: 1025px) {
.content[data-v-1ae81d24] {
    max-width: 800px;
}
}
@media only screen and (min-width: 700px) and (max-width: 1025px) {
.content[data-v-1ae81d24] {
    max-width: 700px;
}
}
@media only screen and (max-width: 700px) {
.content[data-v-1ae81d24] {
    max-width: 500px;
}
}
@media only screen and (min-width: 701px) {
.content[data-v-1ae81d24] {
    -webkit-column-count: 2;
    column-count: 2;
}
}


/**
* TABLE OF CONTENT
* --------
*  - LAYOUT
*  - DEBUG
*  - NO_SCOPE
*/
.SectionHeader[data-v-0a33f7ef] {
  max-width: 1440px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}
@media only screen and (max-width: 1024px) {
.SectionHeader[data-v-0a33f7ef] {
    padding-left: 20px;
    padding-right: 20px;
}
}
@media only screen and (max-width: 700px) {
.SectionHeader[data-v-0a33f7ef] {
    padding-left: 15px;
    padding-right: 15px;
}
}
.SectionHeader .title[data-v-0a33f7ef],
.SectionHeader .description[data-v-0a33f7ef] {
  max-width: 600px;
  display: block;
}
.SectionHeader .title[data-v-0a33f7ef] {
  line-height: 1.4;
  font-family: 'Bowlby One SC', cursive;
  font-size: 5rem;
  content: 3;
  flex: 0 1 auto;
  max-width: none;
}
@media only screen and (min-width: 700px) and (max-width: 1025px) {
.SectionHeader .title[data-v-0a33f7ef] {
    font-size: 4rem;
}
}
@media only screen and (max-width: 700px) {
.SectionHeader .title[data-v-0a33f7ef] {
    font-size: 3.2rem;
}
}
.SectionHeader .description[data-v-0a33f7ef] {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  opacity: 0.6;
  line-height: 1.6;
  font-size: 1.8rem;
  flex: 1 1 100%;
  margin-top: 10px;
}
@media only screen and (max-width: 700px) {
.SectionHeader .description[data-v-0a33f7ef] {
    font-size: 1.6rem;
}
}


/**
* TABLE OF CONTENT
* --------
*  - LAYOUT
*  - DEBUG
*  - NO_SCOPE
*/
.video[data-v-0e607966] {
  z-index: 1;
}
.caption[data-v-0e607966] {
  padding: 20px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(51,51,51,0.8);
  color: #41b8f4;
  z-index: 2;
  -webkit-transform: translateY(-110%);
  transform: translateY(-110%);
  transition: -webkit-transform 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0s;
  transition: transform 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0s;
  transition: transform 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0s, -webkit-transform 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0s;
  box-shadow: 1px 0px 10px rgba(0,0,0,0.4);
}
.caption[data-visible][data-v-0e607966] {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition: -webkit-transform 1.2s cubic-bezier(0.19, 1, 0.22, 1) 1.5s;
  transition: transform 1.2s cubic-bezier(0.19, 1, 0.22, 1) 1.5s;
  transition: transform 1.2s cubic-bezier(0.19, 1, 0.22, 1) 1.5s, -webkit-transform 1.2s cubic-bezier(0.19, 1, 0.22, 1) 1.5s;
}


/**
* TABLE OF CONTENT
* --------
*  - LAYOUT
*  - DEBUG
*  - NO_SCOPE
*/
@media only screen and (min-width: 900px) {
.SectionEvent[data-v-3129b542] {
    display: flex;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    -ms-align-items: flex-start;
    align-items: flex-start;
    max-width: 1440px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
}
.SectionEvent .video[data-v-3129b542] {
    max-height: 80vh;
}
}
@media only screen and (max-width: 899px) {
.SectionEvent[data-v-3129b542] {
    padding-bottom: 0 !important;
}
.SectionEvent .header[data-v-3129b542] {
    max-width: 1440px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
}
.SectionEvent .col.-left[data-v-3129b542] {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    padding-bottom: 30px;
}
}
.SectionEvent >.col[data-v-3129b542],
.SectionEvent[data-v-3129b542] >.scrollmagic {
  -ms-flex-basis: 50%;
  flex-basis: 50%;
}
.SectionEvent >.col.-left[data-v-3129b542],
.SectionEvent[data-v-3129b542] >.scrollmagic.-left {
  margin-right: 40px;
}
@media only screen and (min-width: 900px) and (max-width: 1024px) {
.SectionEvent[data-v-3129b542] {
    padding-left: 20px;
    padding-right: 20px;
}
}
@media only screen and (min-width: 900px) and (max-width: 700px) {
.SectionEvent[data-v-3129b542] {
    padding-left: 15px;
    padding-right: 15px;
}
}
@media only screen and (max-width: 899px) and (max-width: 1024px) {
.SectionEvent .header[data-v-3129b542] {
    padding-left: 20px;
    padding-right: 20px;
}
}
@media only screen and (max-width: 899px) and (max-width: 700px) {
.SectionEvent .header[data-v-3129b542] {
    padding-left: 15px;
    padding-right: 15px;
}
}
@media only screen and (min-width: 1025px) {
.step[data-v-3129b542] {
    padding-top: 10vmin;
}
}
@media only screen and (max-width: 1024px) {
.step[data-v-3129b542] {
    padding-top: 60px;
}
}
.step[data-v-3129b542]:first-child {
  padding-top: 0px;
}
.header[data-v-3129b542] {
  padding: 0;
  margin: 0;
}
.header[data-v-3129b542] .date,
.header[data-v-3129b542] .address {
  line-height: 1.4;
  font-family: 'Bowlby One SC', cursive;
  font-size: 2.6rem;
}
@media only screen and (max-width: 700px) {
.header[data-v-3129b542] .date,
  .header[data-v-3129b542] .address {
    font-size: 1.8rem;
}
}
.video[data-v-3129b542] {
  max-width: 100%;
  overflow: hidden;
  position: relative;
}
.video[data-v-3129b542]:before {
  content: "";
  display: block;
  height: 0;
  padding-top: 125%;
}
.SectionEvent[data-v-3129b542] {
  background-color: #fff;
}


/**
* TABLE OF CONTENT
* --------
*  - LAYOUT
*  - DEBUG
*  - NO_SCOPE
*/


.swiper-pagination-bullet[data-v-77ac3900] {
  cursor: pointer;
  outline: none;
}
.swiper-progress-bar[data-v-77ac3900] {
  background: #41b8f4;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 8px;
  z-index: 2;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

/**
*
* TABLE OF CONTENT
* --------
* =LAYOUT
* =DEBUG
*/
/* ===LAYOUT=== */
.UiButton[data-v-2849b559] {
  position: relative;
  cursor: pointer;
  display: inline-block;
  border: none;
  background: none;
  border: 2px solid;
  padding: 0.1em 0.2em;
}
/* ===DEBUG=== */

/**
* TABLE OF CONTENT
* --------
*  - LAYOUT
*  - DEBUG
*  - NO_SCOPE
*/
.UiToggleButton[data-v-4fb080ea] {
  position: relative;
  width: 16px;
  height: 16px;
  border: none;
  padding: 0;
  overflow: hidden;
  display: flex;
  -ms-justify-content: center;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}
.UiToggleButton[data-v-4fb080ea]:before {
  content: '';
  width: 100%;
  height: 3px;
  background-color: #333;
  position: absolute;
  left: 0;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 10;
}
.UiToggleButton .icon[data-v-4fb080ea] {
  width: 100%;
  height: 100%;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  transition: -webkit-transform 1.8s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 1.8s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 1.8s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 1.8s cubic-bezier(0.19, 1, 0.22, 1);
}
.UiToggleButton .icon[data-v-4fb080ea]:before,
.UiToggleButton .icon[data-v-4fb080ea]:after {
  content: '';
  width: 3px;
  height: 100%;
  background-color: #333;
  position: absolute;
  top: 0;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%) scaleY(1);
  transform: translateX(-50%) scaleY(1);
}
.UiToggleButton[data-active] .icon[data-v-4fb080ea] {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}


/**
* TABLE OF CONTENT
* --------
*  - LAYOUT
*  - DEBUG
*  - NO_SCOPE
*/


/**
* TABLE OF CONTENT
* --------
*  - LAYOUT
*  - DEBUG
*  - NO_SCOPE
*/
.UiSwiperNavigation[data-v-7a168f3f] {
  position: relative;
  height: 44px;
}
@media only screen and (max-width: 700px) {
.UiSwiperNavigation[data-v-7a168f3f] {
    margin-top: 20px;
}
}
.nav-btn[data-v-7a168f3f] {
  background: none;
  width: auto;
  height: auto;
  color: #41b8f4;
  cursor: pointer;
}
@media only screen and (min-width: 701px) {
.nav-btn[data-v-7a168f3f] {
    position: absolute;
    bottom: 0;
}
}
.no-touchevents .nav-btn[data-v-7a168f3f] {
  color: #333;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  opacity: 0.6;
  transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}
.no-touchevents .nav-btn[data-v-7a168f3f]:hover {
  color: #41b8f4;
  -ms-filter: none;
  -webkit-filter: none;
          filter: none;
  opacity: 1;
}
.nav-btn.prev[data-v-7a168f3f] {
  left: 40%;
}
.nav-btn.next[data-v-7a168f3f] {
  right: 6px;
}
.nav-btn .icon[data-v-7a168f3f] {
  line-height: 1.4;
  font-family: 'Bowlby One SC', cursive;
  font-size: 1.805555555555556vw;
  font-size: 3.6rem !important;
  line-height: 0.6;
  -webkit-transform: scaleX(0.6);
  transform: scaleX(0.6);
}
@media only screen and (min-width: 700px) and (max-width: 1025px) {
.nav-btn .icon[data-v-7a168f3f] {
    font-size: 2.6rem;
}
}
@media only screen and (max-width: 700px) {
.nav-btn .icon[data-v-7a168f3f] {
    font-size: 2rem;
}
}
.pagination[data-v-7a168f3f] {
  position: relative;
  flex: 1 1 100%;
  max-width: 130px;
}
@media only screen and (max-width: 700px) {
.pagination[data-v-7a168f3f] {
    margin-right: 20px;
}
}
@media only screen and (min-width: 701px) {
.UiSwiperNavigation[data-v-7a168f3f] {
    display: flex;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
}
.UiSwiperNavigation .nav-btn[data-v-7a168f3f] {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
}
}
.UiSwiperNavigation[data-v-7a168f3f] .pagination {
  white-space: nowrap;
}
.UiSwiperNavigation[data-v-7a168f3f] .pagination .swiper-pagination-bullet {
  margin: 0 3px;
  width: 20px;
  height: 6px;
  border-radius: 2px;
  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
  opacity: 0.2;
  -webkit-transform: scaleX(0.2);
  transform: scaleX(0.2);
  background-color: #41b8f4;
  cursor: pointer;
}
.UiSwiperNavigation[data-v-7a168f3f] .pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -ms-filter: none;
  -webkit-filter: none;
          filter: none;
  opacity: 1;
  background-color: #41b8f4;
}
.UiSwiperNavigation[data-v-7a168f3f] .pagination .swiper-pagination-bullet.swiper-pagination-bullet-active-prev,
.UiSwiperNavigation[data-v-7a168f3f] .pagination .swiper-pagination-bullet.swiper-pagination-bullet-active-next {
  -webkit-transform: scaleX(0.6);
  transform: scaleX(0.6);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
  opacity: 0.4;
}
.UiSwiperNavigation[data-v-7a168f3f] .pagination .swiper-pagination-bullet.swiper-pagination-bullet-active-prev-prev,
.UiSwiperNavigation[data-v-7a168f3f] .pagination .swiper-pagination-bullet.swiper-pagination-bullet-active-next-next {
  -webkit-transform: scaleX(0.4);
  transform: scaleX(0.4);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
  filter: alpha(opacity=10);
  opacity: 0.1;
}
.no-touchevents .UiSwiperNavigation[data-v-7a168f3f] .pagination .swiper-pagination-bullet {
  background-color: #333;
  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1), background-color 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}
.no-touchevents .UiSwiperNavigation[data-v-7a168f3f] .pagination .swiper-pagination-bullet:hover,
.no-touchevents .UiSwiperNavigation[data-v-7a168f3f] .pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #41b8f4;
}


/**
* TABLE OF CONTENT
* --------
*  - LAYOUT
*  - DESKTOP
*  - MOBILE
*  - ATHLETES
*  - DEBUG
*  - NO_SCOPE
*/
.TeamSwiper[data-v-7ba5c230] {
  position: relative;
  max-width: 1440px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}
@media only screen and (max-width: 1024px) {
.TeamSwiper[data-v-7ba5c230] {
    padding-left: 20px;
    padding-right: 20px;
}
}
@media only screen and (max-width: 700px) {
.TeamSwiper[data-v-7ba5c230] {
    padding-left: 15px;
    padding-right: 15px;
}
}
.TeamSwiper[data-v-7ba5c230] .swiper-container {
  overflow: visible;
}
.navigation[data-v-7ba5c230] {
  position: absolute;
  right: 15px;
  z-index: 10;
}
@media only screen and (min-width: 700px) and (max-width: 1025px) {
.navigation[data-v-7ba5c230] {
    right: 40px;
}
}
@media only screen and (max-width: 700px) {
.navigation[data-v-7ba5c230] {
    display: none !important;
    position: relative;
    display: flex;
    -ms-justify-content: center;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
}
}
@media only screen and (min-width: 701px) {
.navigation[data-v-7ba5c230] {
    bottom: 5px;
    z-index: 10;
    right: 80px;
}
}
@media only screen and (min-width: 1300px) {
.navigation[data-v-7ba5c230] {
    right: 120px;
}
}
.link[data-v-7ba5c230] {
  color: #41b8f4;
  fill: #41b8f4;
  width: 20px;
  height: 20px;
  display: block;
  margin-top: 10px;
}
.no-touchevents .link[data-v-7ba5c230] {
  fill: #333;
  transition: fill 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}
.no-touchevents .link[data-v-7ba5c230]:hover {
  fill: #41b8f4;
}
.slide[data-v-7ba5c230] {
  width: 100%;
  height: 100%;
  -ms-filter: none;
  -webkit-filter: none;
          filter: none;
  opacity: 1;
  transition: opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}
@media only screen and (max-width: 700px) {
.slide[data-v-7ba5c230] {
    max-width: calc(100% - 30px);
}
}
@media only screen and (min-width: 701px) {
.slide[data-v-7ba5c230]:not(.swiper-slide-active) {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}
}
.image-wrapper[data-v-7ba5c230] {
  position: relative;
}
.caption[data-v-7ba5c230] {
  margin-top: 20px;
  color: #333;
  -ms-flex-grow: 1;
  flex-grow: 1;
}
.caption .title[data-v-7ba5c230] {
  line-height: 1.4;
  font-family: 'Bowlby One SC', cursive;
  font-size: 2.2rem;
}
@media only screen and (max-width: 700px) {
.caption .title[data-v-7ba5c230] {
    font-size: 1.6rem;
}
}
.caption .title .normal[data-v-7ba5c230] {
  line-height: 1.4;
  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 1.6rem;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  opacity: 0.7;
}
@media only screen and (max-width: 700px) {
.caption .title .normal[data-v-7ba5c230] {
    font-size: 1.3rem;
}
}
.caption .description[data-v-7ba5c230] {
  margin-top: 0.2em;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  opacity: 0.7;
  line-height: 1.6;
  font-size: 1.4rem;
}
@media only screen and (max-width: 700px) {
.caption .description[data-v-7ba5c230] {
    font-size: 1.4rem;
}
}
@media only screen and (min-width: 701px) {
.slide-content[data-v-7ba5c230] {
    display: flex;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    -ms-justify-content: center;
    justify-content: center;
}
.image-wrapper.-big[data-v-7ba5c230] {
    overflow: hidden;
    position: relative;
    flex: 1 1 60vmin;
    max-width: 60vmin;
}
.image-wrapper.-big[data-v-7ba5c230]:before {
    content: "";
    display: block;
    height: 0;
    padding-top: 100%;
}
.caption[data-v-7ba5c230] {
    margin-left: 10%;
    flex: 1 1 40vmin;
    min-width: 300px;
}
}
@media only screen and (min-width: 701px) and (max-width: 1024px) {
.caption[data-v-7ba5c230] {
    margin-left: 20px;
}
}
@media only screen and (max-width: 700px) {
.slide-content .image-wrapper.-small[data-v-7ba5c230] {
    display: none;
}
.figure[data-v-7ba5c230] {
    width: 100%;
    height: 100%;
    flex: 1 1 100%;
    margin-left: 0px;
    margin-right: 0px;
}
.image-wrapper[data-v-7ba5c230] {
    overflow: hidden;
    position: relative;
}
.image-wrapper[data-v-7ba5c230]:before {
    content: "";
    display: block;
    height: 0;
    padding-top: 75%;
}
.caption[data-v-7ba5c230] {
    margin-left: 15px;
    margin-right: 15px;
}
.title[data-v-7ba5c230] {
    max-width: calc(100% - 130px);
}
}


/**
* TABLE OF CONTENT
* --------
*  - LAYOUT
*  - DEBUG
*  - NO_SCOPE
*/


/**
* TABLE OF CONTENT
* --------
*  - LAYOUT
*  - DEBUG
*  - NO_SCOPE
*/
.SectionContact[data-v-78c38ff0] {
  background: #000 url("/uploads/section-contact.jpg") 60% 80% no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  min-height: calc(var(--viewport-height) - 51px);
}
@media only screen and (max-width: 1024px) {
.SectionContact[data-v-78c38ff0] {
    min-height: calc(var(--viewport-height) - 30px);
    margin-top: 0 !important;
}
}


/**
* TABLE OF CONTENT
* --------
*  - LAYOUT
*  - DEBUG
*  - NO_SCOPE
*/
.SectionWhenAndWhere[data-v-3a2abe69] {
  background-color: #fff;
}
@media only screen and (min-width: 901px) {
.SectionWhenAndWhere[data-v-3a2abe69] {
    display: flex;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    -ms-align-items: flex-start;
    align-items: flex-start;
    max-width: 1440px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
}
.SectionWhenAndWhere .video[data-v-3a2abe69] {
    max-height: 80vh;
}
}
@media only screen and (max-width: 900px) {
.SectionWhenAndWhere[data-v-3a2abe69] {
    text-align: center;
    padding-bottom: 0;
}
.SectionWhenAndWhere .col.-left[data-v-3a2abe69] {
    max-width: 1440px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}
.SectionWhenAndWhere[data-v-3a2abe69] .description {
    max-width: none;
}
}
.SectionWhenAndWhere >.col[data-v-3a2abe69] {
  -ms-flex-basis: 50%;
  flex-basis: 50%;
}
.SectionWhenAndWhere >.col.-left[data-v-3a2abe69] {
  margin-right: 40px;
}
@media only screen and (min-width: 901px) and (max-width: 1024px) {
.SectionWhenAndWhere[data-v-3a2abe69] {
    padding-left: 20px;
    padding-right: 20px;
}
}
@media only screen and (min-width: 901px) and (max-width: 700px) {
.SectionWhenAndWhere[data-v-3a2abe69] {
    padding-left: 15px;
    padding-right: 15px;
}
}
@media only screen and (max-width: 900px) and (max-width: 1024px) {
.SectionWhenAndWhere .col.-left[data-v-3a2abe69] {
    padding-left: 20px;
    padding-right: 20px;
}
}
@media only screen and (max-width: 900px) and (max-width: 700px) {
.SectionWhenAndWhere .col.-left[data-v-3a2abe69] {
    padding-left: 15px;
    padding-right: 15px;
}
}
.header[data-v-3a2abe69] {
  padding: 0;
  margin: 0;
}
.header[data-v-3a2abe69] .date,
.header[data-v-3a2abe69] .address {
  line-height: 1.4;
  font-family: 'Bowlby One SC', cursive;
  font-size: 2.6rem;
}
@media only screen and (max-width: 700px) {
.header[data-v-3a2abe69] .date,
  .header[data-v-3a2abe69] .address {
    font-size: 1.8rem;
}
}
.cta[data-v-3a2abe69] {
  position: relative;
  display: inline-block;
  line-height: 1.4;
  font-family: 'Bowlby One SC', cursive;
  font-size: 2.2rem;
  border: 1px solid;
  padding: 0.5em;
  margin: 1em auto 0;
  cursor: pointer;
  box-sizing: content-box;
}
@media only screen and (max-width: 700px) {
.cta[data-v-3a2abe69] {
    font-size: 1.6rem;
}
}
.cta[data-v-3a2abe69]:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: border 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  border: 1px solid;
}
.cta[data-v-3a2abe69]:hover:after {
  border-width: 3px;
}
.map-wrapper[data-v-3a2abe69] {
  position: relative;
  overflow: hidden;
  position: relative;
  width: 100%;
  display: flex;
  -ms-justify-content: center;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}
.map-wrapper[data-v-3a2abe69]:before {
  content: "";
  display: block;
  height: 0;
  padding-top: 75%;
}
@media only screen and (max-width: 900px) {
.map-wrapper[data-v-3a2abe69] {
    margin-top: 20px;
}
}
.map-wrapper .map[data-v-3a2abe69] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255,99,71,0.5);
}
.map-wrapper .caption[data-v-3a2abe69] {
  position: relative;
  z-index: 2;
}


.parallax[data-v-9d78a996] {
  height: 100vh;
  overflow: hidden;
}
.parallax .about[data-v-9d78a996] {
  min-height: 150%;
  position: relative;
  top: -50%;
}
.parallax .hero[data-v-9d78a996] {
  height: 100%;
  top: 0%;
}
@media only screen and (max-width: 700px) {
.-about[data-v-9d78a996] {
    height: auto;
    overflow: visible;
}
}
.section[data-v-9d78a996] {
  position: relative;
}
.section.-hero[data-v-9d78a996],
.section.-about[data-v-9d78a996] {
  padding-top: 0px;
  padding-bottom: 0px;
}
@media only screen and (min-width: 1025px) {
.section.-contact[data-v-9d78a996] {
    margin-top: 60px;
}
}
@media only screen and (max-width: 1024px) {
.section.-contact[data-v-9d78a996] {
    margin-top: 40px;
}
}
@media only screen and (max-width: 899px) {
.section.-contact[data-v-9d78a996] {
    margin-top: 0;
}
}

