/** generic swiper related style
 * 
 * @author KFFEIN <nicolas@kffein.com>
 * 
 * TABLE OF CONTENT
 * --------
 * =IMPORTS
 * =LAYOUT
 * =DEBUG
 */
.swiper-pagination-bullet
  cursor pointer
  outline none
