/**
 * Font settings: only vars and mixins !!!
 *
 * NOTE:
 *
 * - You SHOULD NOT print CSS here, like class for example, as settings are included multiple times.
 *
 * @author KFFEIN <admin@kffein.com>
 */

/*
  ===VARS===
*/
$ff-safe = Arial, Helvetica, sans-serif
$ff-title = 'Bowlby One SC', cursive
$ff-subtitle = 'Montserrat', sans-serif
$ff-text = 'Roboto Slab', serif

/** font weight */
$fw-black    = 800
$fw-bold     = 700
$fw-semibold = 600
$fw-medium   = 500
$fw-regular  = 400
$fw-light    = 300

/** font sizes generic */
$fz-regular = (1.6rem 1.4rem 1.35rem)
$fz-h1      = (3rem 2.4rem)
$fz-title   = (2.6rem 2rem)

/* line heights */
$lh-regular = 1.4
$lh-medium  = 1.4

/*
  ===MIXINS===
*/
fsize($sizes, $responsive = false)
  if $responsive
    // @todo add min and max (in px)
    // https://css-tricks.com/snippets/sass/viewport-sized-typography-minimum-maximum-sizes/
    font-size unit(remove-unit($sizes[0]) * f-vw(), 'vw')
    +tablet()
      font-size $sizes[0]
    +mobile()
      font-size $sizes[1]

  else if length($sizes) is 3
    font-size $sizes[0]
    content length($sizes)
    +tablet()
      font-size $sizes[1]
    +mobile()
      font-size $sizes[2]

  else if length($sizes) is 2
    font-size $sizes[0]
    +mobile()
      font-size $sizes[1]
    
  else
    font-size $sizes


f-style($type='default', // default | title | subtitle | fbQuote | legend
  $level=null, // for titles, if `big` use fz-titleBig (some titles are bigger on mobile/tablet)
  $color=null, // for titles, can be white or black
  $italic=null, // {Boolean}
  $bold=null, // {Boolean}
  $size=null, // {Array|value} if array, different sizes for different mediaquery
  $responsive=false, // {boolean} if true, fontsize vw
  $style=null, // {value} font-style
  $decoration=null, // {value} - text-decoration
  $transform=null, // {value} - text-transform
  $spacing=null, // {value} - letter-spacing
  $lh=null, // {value} - line-height
  $uppercase=null,
  $align=null)

  // _DEFAULT_ : default texts
  if $type is 'default'
    font-family $ff-text
    line-height $lh-regular
    fsize($fz-regular)

    // only if default type because you may use custom font familly for each variant
    if $italic
      font-style italic
    if $bold
      font-weight $fw-bold

  // _TITLE_ : titles, use level for h1, h2...
  if $type is 'title'
    line-height 1.4

    if ($level is 'h4' or $level is 'h5')
      text-transform uppercase
      font-family $ff-text
      font-weight $fw-bold
    else
      font-family $ff-title
   
    // $_levels = 'hero', 'h1', 'h2', 'h3'
    // for $current, i in $_levels
    //   if $level is $current
    //     font-family $ff-title
    //     text-transform uppercase

    if $level is 'hero'
      fsize(10rem 6rem)
    else if $level is 'h1'
      fsize(5rem 4rem 3.2rem)
    else if $level is 'h2'
      fsize(2.6rem 1.8rem)
    else if $level is 'h3'
      fsize(2.2rem 1.6rem)
    else if $level is 'h4'
      fsize(1.6rem 1.3rem)
    else
      fsize($fz-title, $responsive: true)

  if $type is 'text'
    if $level is 'card'
      line-height 1.4
      fsize(1.4rem 1.4rem)
    else
      line-height 1.6
      fsize(1.8rem 1.6rem)
  if $type is 'menu'
    if $level is 'logo'
      font-family $ff-title
      fsize(1.8rem 1.4rem 1.4rem)
    else
      fsize(1.2rem 1.3rem)
      text-transform uppercase

    // Other type here
    // ...
  
  // and others params for quick overrides
  if $color
    color $color
  if $size
    fsize($size, $responsive)
  if $decoration
    text-decoration $decoration
  if $style
    font-style $style
  if $uppercase
    text-transform uppercase
  else if $transform
    text-transform $transform
  if $lh
    line-height $lh
  if $spacing
    letter-spacing $spacing
  if $align
    text-align $align
