safe-content()
  max-width $kff-w-max
  box-sizing border-box
  center-margin()
  x-padding($gutters[0])
  +below(1024px)
    x-padding($gutters[1])
  +below(700px)
    x-padding($gutters[2])

text-content()
  max-width 600px
  