x-padding($left, $right=false)
  padding-left $left
  padding-right $right || $left

y-padding($top, $bottom=false)
  padding-top $top
  padding-bottom $bottom || $top

x-margin($left, $right=false)
  margin-left $left
  margin-right $right || $left

y-margin($top, $bottom=false)
  margin-top $top
  margin-bottom $bottom || $top

scrollable()
  overflow-y scroll
  -webkit-overflow-scrolling touch
